.content {
    height: 500px;
    background-color:#F3D2C1;
    padding: 70px 0;
}


div.form-container {
    background-color: #FEF6E4;
    width: 40%;
    margin: 0 30%;
    padding: 20px 0;
    border-radius: 20px;
}

h2 {
    color: #172C66;
    text-align: center;
}

label.form-label {
    width: 5%;
    display: inline-block;
    margin: 20px 10% 20px 20%;
    color: #172C66;
    font-size: larger;
}

input.form-input {
    width: 40%;
    margin: 20px 0;
    padding: 5px;
    height: 20px;
    background-color: #86e0f0;
    font-size: large;
    border: none;
    border-radius: 10px;
}

input.form-btn {
    width: 30%;
    border: none;
    border-radius: 10px;
    background-color: #43C1D7;
    color: #212728;
    font-size: large;
    margin: 15px 35%;
    padding: 5px 10px;
    cursor: pointer;
}

p#ResetPwdMessage {
    color: rgb(248, 72, 72);
    margin-left: 20%;
}